<% unless session[:admin] or session[:superuser] %>
	<nav class="indigo darken-4" role="navigation">
	    <div class="nav-wrapper container">
	      <a id="logo-container" href="/" class="brand-logo">Rockolapp</a>
	      <ul class="right hide-on-med-and-down">
	        <li><a href="/login">Administrador</a></li>
	      </ul>
	      <ul class="right hide-on-med-and-down">
	      	<li><a href="#">Cónocenos</a></li>
	      </ul>
	      <ul class="right hide-on-med-and-down">
	      	<li><a href="buy.html">Compra</a></li>
	      </ul>
	      <ul id="nav-mobile" class="side-nav">
	        <li><a href="#">Navbar Link</a></li>
	      </ul>
	      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
	    </div>
	</nav>
<% else %>
	<nav class="indigo darken-4" role="navigation">
	    <div class="nav-wrapper container">
	      <a id="logo-container" href="/" class="brand-logo">Rockolapp</a>
	      <ul class="right hide-on-med-and-down">
	        <li><a href="/logout">Cerrar sesión</a></li>
	      </ul>
	    </div>
	</nav>
<% end %>