<footer class="page-footer green">
    <div class="footer-copyright">
      <div class="container">
      Elaborado con:<a class="brown-text text-lighten-3" href="/#"> Ruby on Rails, Materialize, Javascript</a>
      </div>
    </div>
 </footer>