 <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Informes en:</h5>
          <p class="grey-text text-lighten-4">Calle Goldsmith 35, Miguel Hidalgo, Polanco, 11530 Ciudad de México, D.F.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Elaborado con:<a class="brown-text text-lighten-3" href="http://materializecss.com"> Ruby on Rails, Materialize, Javascript</a>
      </div>
    </div>
 </footer>