<nav class="teal darken-4" role="navigation">
  <ul id="buscar" class="dropdown-content">
    <li><a href="/track">Cancion</a></li>
    <li class="divider"></li>
    <li><a href="/artist">Artista</a></li>
    <li class="divider"></li>
    <li><a href="/album">Albúm</a></li>
    <li class="divider"></li>
  </ul>
  <!--
  <ul id="administrar" class="dropdown-content">
    <li><a href="newlist.html">Crear nueva lista</a></li>
    <li class="divider"></li>
    <li><a href="#!">Listas</a></li>
    <li class="divider"></li>
    <li><a href="#!">Agregar resultado</a></li>
    <li class="divider"></li>
    <li><a href="#!">Eliminar</a></li>
  </ul>
    -->
  <div class="nav-wrapper container">
    <a id="logo-container" href="/dashboard" class="brand-logo">Rockolapp</a>
    <!--
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Mapa</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Local</a></li>
    </ul>
    -->
    <ul class="right hide-on-med-and-down">
      <li><a href="/track/new">Registrar Canción</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a href="/album/new">Registrar Album</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a href="/artist/new">Registrar Artista</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a class="dropdown-button" data-activates="buscar">Buscar registrados... <i class="mdi-navigation-arrow-drop-down right"></i></a></li>
    </ul>
    <!--
    <ul class="right hide-on-med-and-down">
      <li><a class="dropdown-button" data-activates="administrar">&nbsp Administrar <i class="mdi-navigation-arrow-drop-down right"></i></a></li>
    </ul>
    
    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    -->
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>  