<%= javascript_include_tag "artist", params[:controller] %>
<h1>Busca los artistas</h1>
<div>
	<div>
		<h2>Buscar por Spotify Id</h2>
		<p>
			Id:
			<br>
			<input id='index_artist_spotify_id'>
		</p>
		<p>
			<button id='index_search_artist' onclick='searchArtist("spotify_id")'>Buscar</button>
		</p>
	</div>
	<div>
		<h2>Buscar por Nombre</h2>
		<p>
			Nombre:
			<br>
			<input id='index_artist_name'>
		</p>
		<p>
			<button id='index_search_artist' onclick='searchArtist("name")'>Buscar</button>
		</p>
	</div>
</div>
<div id='artists_index_field'>

</div>