<% if @artist.errors.any? %>
	<h1>Se encontraron los siguientes errores al registrar su artista:</h1>
	<% @artist.errors.full_messages.each do |e| %>
	<li><%= e %></li>
	<% end %>
<% end %>
<h1>Nuevo Artista</h1>
<input id='search_artists_txt'>
<input type='submit' value='Buscar' id='search_artists_btn'>
<input type='hidden' value='<%= form_authenticity_token %>' id='authenticity_tokens'>
<div id='artists_forms'>

</div>