<% content_for :for_head do %>
	<%= render :partial => 'headContent/materialize' %>
	<%= render :partial => 'headContent/index_style' %>
<% end %>
<%= render 'statics/blue_nav_bar' %>
<div class="dark-opacity">
	<div id="index-banner" class="extended-parallax-container">
	    <div class="section no-pad-bot">
	      <div class="container">
	        <br><br>
	        <h1 class="header center blue-text text-lighten-3 font-cantarell">Rockolapp</h1>
	        <div class="row center">
	          <h5 class="header col s12 light">La mejor forma de compartir tu musica con los que te rodean</h5>
	        </div>
	        <br><br><br>
	        <div class="row center">
	          <a href="https://play.google.com/store" id="download-button" class="btn-large waves-effect waves-light blue lighten-3">Descarga la app</a>
	        </div>
	        <br><br>
	      </div>
	    </div>
	</div>
</div>


<div class="conocela">

	<div class="seccion">
		<div class="row">
			<div class="col s12">
				<div class="conocela-title center-text">
					  <h3 class="white-text">
					  	Conocela
					  </h3>
				</div>
			</div>
		</div>
	</div>			

    <div class="seccion">
		<div class="row">

			<div class="col s12 m4 card-conocenos">
				<div class="z-depth-2 ">
					<div>
						<img src="/assets/versatil.jpg" class="conocenos-img" >
						</div>
					<div class="white-text blue-grey conocenos-content">
						<span class="card-title">Versatil</span>
						<p class="light">¡Rockolapp cabe en la palma de tu mano, ahorra espacio y ofrece más potencia! Ahorra espacio en tu establecimiento, funciona fácilmente .</p>
					</div>
				</div>
			</div>

			<div class="col s12 m4 card-conocenos">
				<div class="z-depth-2 ">
					<div>
						<img src="/assets/music-sharing-2.jpg" class="conocenos-img" >
						</div>
					<div class="white-text blue-grey conocenos-content">
						<span class="card-title">Comparte</span>
						<p class="light">Abre la aplicación, ve a la sección del mapa y dentro de este encontraras una diversidad de establecimientos afiliados a nuestro producto. Cuando estes en uno con un simple click estarás escuchando tu música</p>
					</div>
				</div>
			</div>

			<div class="col s12 m4 card-conocenos">
				<div class="z-depth-2">
					<div>
						<img src="/assets/dancing.jpg" class="conocenos-img" >
						</div>
					<div class="white-text blue-grey conocenos-content">
						<span class="card-title">Escucha</span>
						<p class="light">Las playlist se irán actualizando conforme la gente lo requiera, escucha la música que tus vecinos oyen, comparte tus gustos, haz favoritos y bloquea la música que sea inapropiada</p>
					</div>
				</div>
			</div>

      </div>
	</div>
</div>

<%= render 'statics/page_footer' %>
