<!DOCTYPE html>
<html lang="en">
	<head>
	  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	  	<title>Rockolapp</title>

	  	<!-- CSS  -->
	  	<link href="/assets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	  	<link href="/assets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

	  	<!--  Scripts-->
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="/assets/materialize.js"></script>
		<script src="/assets/init.js"></script>  
	</head>
	<body>
			<nav class="teal darken-4" role="navigation">
				<ul id="dropdown1" class="dropdown-content">
				  <li><a href="#!">Crear nueva lista</a></li>
				  <li class="divider"></li>
				  <li><a href="#!">Listas</a></li>
				  <li class="divider"></li>
				  <li><a href="#!">Agregar resultado</a></li>
				  <li class="divider"></li>
				  <li><a href="#!">Eliminar</a></li>
				</ul>
			    <div class="nav-wrapper container">
			      <a id="logo-container" href="/" class="brand-logo">Rockolapp</a>
			      <ul class="right hide-on-med-and-down">
			        <li><a href="#">Mapa</a></li>
			      </ul>
			      <ul class="right hide-on-med-and-down">
			      	<li><a href="#">Local</a></li>
			      </ul>
			      <ul class="right hide-on-med-and-down">
			      	<li><a class="dropdown-button" data-activates="dropdown1">&nbsp Administrar <i class="mdi-navigation-arrow-drop-down right"></i></a></li>
			      </ul>
			      
			      <ul id="nav-mobile" class="side-nav">
			        <li><a href="#">Navbar Link</a></li>
			      </ul>
			      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
			    </div>
			</nav>
		    <div id="index-banner" class="parallax-container">
		    	<div class="section no-pad-bot">
			      <div class="container">
			        <br><br>
			        	<h1> You succesfully logged out! </h1>
			        <br><br>
			      </div>
		    	</div>
	    	</div>
		    <div class="parallax">
		    	<%= image_tag "dashimage.jpg", :alt => "Facebook", :title => "Facebook"%>
		    </div>
		<footer class="page-footer green">
		    <div class="footer-copyright">
		      <div class="container">
		      Elaborado con:<a class="brown-text text-lighten-3" href="#"> Ruby on Rails, Materialize, Javascript</a>
		      </div>
		    </div>
		 </footer>
	</body>
</html>